li {
    //list-style: decimal;
}

.back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    .fon{
        width: 1000px;
        height: 690px;
    }
}

.content{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: url('./image/fon.png') no-repeat;
    background-size: contain;
    width: 1000px;
    height: 690px;
    .block{
        max-width: 600px;
        display: block;
        top: 70%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        position: absolute;
        background: #FFFFFF;
        border-radius: 23px;
        padding: 40px;

        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 33px;
        }
        .text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 33px;
        }
    }

}